.regular {
font-family: Impact, Charcoal, sans-serif;
font-size: 18px;
letter-spacing: -0.4px;
word-spacing: -0.8px;
color:#4DA6FF;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}